.train {
	.train-img {
		width: 100%;
		height: 22rem;
		object-fit: cover;
	}
	.yoga {
		background-color: #ffc107;
		border-radius: 5px;
		border: none;
		height: 50px;
		width: 300px;
		margin-left: -7px;
		background-color: #fcd842;
		font-weight: bold;
		&:hover {
			background-color: #e6e930;
		}
	}
}
