.payment-container {
	.payment-input-btn {
		margin-top: 40px;
		margin-left: auto;
		width: 200px;
		background-color: rgb(252, 216, 66);
	}
	.group-inputs {
	}
}
.SplitForm {
	iframe {
		width: 100% !important;
	}
}
