.header-bg {
	background: url('https://i.imgur.com/AtqWXua.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	background-position: 100% 44%;
	height: 32rem;
	h1 {
		margin: 3rem;
		font-size: 80px;
		font-weight: 600;
	}
}
