.beginner-card {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://i.imgur.com/joH8VvA.jpg');
	background-size: cover;
	height: 80vh;
	text-align: center;
	color: white;
	margin: 0 auto;
}
.advance-card {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://i.imgur.com/LO3KKqF.jpg');
	background-size: cover;
	height: 80vh;
	text-align: center;
	color: white;
	margin: 0 auto;
}
.basic-card {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://i.imgur.com/CZPtanj.jpg');
	background-size: cover;
	height: 80vh;
	text-align: center;
	color: white;
	margin: 0 auto;
}
